:root {
  --eswIconFillColor: #fff;
  --eswIconFontSize: 16px;
  --eswButtonBottom: 25px;
  --eswButtonRight: 30px;
}
:root {
  --podium-cds-transition-duration-normal: 250ms;
  --podium-cds-transition-duration-fast: 150ms;
  --podium-cds-transition-timing-function-ease: cubic-bezier(
    0.25,
    0.1,
    0.25,
    1
  );
  --podium-cds-size-form-input-field-height: 56px;
  --podium-cds-size-form-input-container-height: 86px;
  --podium-cds-size-icon-l: 48px;
  --podium-cds-size-icon-m: 24px;
  --podium-cds-size-icon-s: 16px;
  --podium-cds-size-border-width-l: 2px;
  --podium-cds-size-border-width-m: 1.5px;
  --podium-cds-size-border-width-s: 1px;
  --podium-cds-size-border-radius-xl: 24px;
  --podium-cds-size-border-radius-l: 12px;
  --podium-cds-size-border-radius-m: 8px;
  --podium-cds-size-border-radius-s: 4px;
  --podium-cds-size-spacing-grid-exterior-gutter-l: 48px;
  --podium-cds-size-spacing-grid-exterior-gutter-s: 24px;
  --podium-cds-size-spacing-grid-gutter-l: 12px;
  --podium-cds-size-spacing-grid-gutter: 16px;
  --podium-cds-size-spacing-xxxxl: 120px;
  --podium-cds-size-spacing-xxxl: 84px;
  --podium-cds-size-spacing-xxl: 60px;
  --podium-cds-size-spacing-xl: 36px;
  --podium-cds-size-spacing-l: 24px;
  --podium-cds-size-spacing-m: 12px;
  --podium-cds-size-spacing-s: 8px;
  --podium-cds-size-spacing-xs: 4px;
  --podium-cds-shadow-100-inverse: 0px 4px 8px 0px rgba(17, 17, 17, 0.18),
    0px 0px 24px 4px rgba(17, 17, 17, 0.09);
  --podium-cds-shadow-100: 0px 4px 8px 0px rgba(17, 17, 17, 0.06),
    0px 0px 24px 4px rgba(17, 17, 17, 0.03);
  --podium-cds-motion-duration-400: 400ms;
  --podium-cds-motion-duration-350: 350ms;
  --podium-cds-motion-duration-300: 300ms;
  --podium-cds-motion-duration-250: 250ms;
  --podium-cds-motion-duration-150: 150ms;
  --podium-cds-motion-delay-250: 250ms;
  --podium-cds-motion-delay-200: 200ms;
  --podium-cds-motion-delay-150: 150ms;
  --podium-cds-motion-delay-100: 100ms;
  --podium-cds-motion-delay-50: 50ms;
  --podium-cds-motion-easing-expressive: cubic-bezier(0.6, 0, 0.1, 1);
  --podium-cds-motion-easing-functional: cubic-bezier(0.4, 0, 0.2, 1);
  --podium-cds-font-style-normal: normal;
  --podium-cds-font-size-xxxxxl: 72px;
  --podium-cds-font-size-xxxxl: 48px;
  --podium-cds-font-size-xxxl: 40px;
  --podium-cds-font-size-xxl: 32px;
  --podium-cds-font-size-xl: 28px;
  --podium-cds-font-size-l: 24px;
  --podium-cds-font-size-m: 20px;
  --podium-cds-font-size-s: 16px;
}
@font-face {
  font-family: one;
  src: url(/fonts/HelveticaNowDisplayMedium.woff2);
}
@font-face {
  font-family: two;
  src: url(/fonts/HelveticaNowText.woff2);
}
@font-face {
  font-family: three;
  src: url(/fonts/HelveticaNowTextMedium.woff2);
}
@font-face {
  font-family: four;
  src: url(/fonts/Nike-Futura-ot-300.woff2);
}
@font-face {
  font-family: five;
  src: url(/fonts/Nike-Futura.woff2);
}

html {
  font-size: 16px;
  line-height: 1.75;
  -webkit-text-size-adjust: none;
}
html {
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: #f5f5f5;
  width: 100vw;
}
.nav-li ul {
  display: inline-flex;
  list-style: none;
  margin: 0 5vw;
}

.nav-li .last-li {
  border: none;
}
.nav-li ul li a {
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding-inline: 14px;
  font-family: one;
  font-size: 13px;
  font-weight: 500;
}
.nav-li ul li a:hover {
  color: #767070;
}
.header-left {
  margin: 0 4vw;
  display: flex;
  gap: 2vw;
}
.main-first-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  height: 8vh;
}
.logo-first .swoosh-svg {
  transform: scale(1.33);
  height: 80px;
  width: 80px;
}
.search-box {
  border: none;
  outline: none;
  width: 120px;
  font-size: 16px;
  font-family: two;
  background-color: #f5f5f5;
}
.first-conent-center ul {
  display: flex;
  gap: 20px;
  margin-left: 100px;
}
.first-conent-center ul li {
  list-style: none;
  font-family: three;
  position: relative;
}
.first-conent-center nav ul li:hover {
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nds-btn {
  color: #000;
}
.ri-heart-line {
  font-size: 25px;
  cursor: pointer;
}
.search-center {
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 5px 10px;
}
.first-video {
  width: 100vw;
  height: 90vh;
}
.third-containt,
.five-containt {
  text-align: center;
  line-height: 9vh;
  cursor: pointer;
}
.third-containt h1 {
  font-family: four;
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 2px;
}
.third-containt span,
p {
  font-family: two;
}
.btn1 button {
  background-color: #000;
  color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 17px;
  margin-bottom: 10vh;
}
.btn1 button:hover {
  background-color: #767070;
  cursor: pointer;
}

.image img {
  width: 50vw;
  height: 70vh;
  object-fit: cover;
}
.fourth-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.image {
  position: relative;
  line-height: 0;
}
.f-content {
  position: absolute;
  bottom: 8vh;
  color: #f5f5f5;
  font-family: two;
  left: 5%;
  line-height: 30px;
  font-weight: 200;
  text-transform: capitalize;
}
.f-content h2 {
  font-size: 17px;
}
.f-content button {
  padding: 8px 17px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
}
.five-containt span,
p {
  font-family: one;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.five-containt h1 {
  font-family: four;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.image-2 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.six-content {
  height: 100vh;
  width: 100vw;
}
.shop-by-class {
  font-family: four;
  text-transform: uppercase;
  font-size: 60px;
  margin: 30px 30px;
}
.image3 img {
  width: 100vw;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 50px auto;
  /* overflow: hidden; */
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
}

.slide {
  min-width: 100%;
  height: 400px;
}

.slide img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-btn {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.nav-btn:hover {
  background: white;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.prev {
  position: absolute;
  right: 50vw;
}
.next {
  position: absolute;
  left: 50vw;
}
.seven-1-ul ul {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  margin: 10px auto;
  font-family: three;
  text-transform: capitalize;
}
.seven-content {
  font-family: one;
}
.seven-1-ul ul li {
  list-style: none;
}
.seven-2-ul {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
}

.seven-2-ul ul li {
  list-style: none;
  font-size: 17px;
  color: #767070;
}
.seven-2-ul ul li:hover {
  color: #000;
  cursor: pointer;
}
.seven-2-ul ul {
  margin: 20px 50px;

  line-height: 50px;
}
.seven-2-ul ul h4 {
  font-size: 20px;
}

footer {
  background-color: #fff;
  /* padding: 30px 20px; */
  font-family: two;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 100;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: black;
}

.footer-bottom {
  margin: 40px auto;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 15px;
}

.footer-bottom .links {
  margin-top: 10px;
}

.footer-bottom .links a {
  margin: 0 10px;
  text-decoration: none;
  color: #666;
}

.footer-bottom .links a:hover {
  color: black;
}
.css-npy3on{
  position: absolute;
  left: 87.2%;
}
.country {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  
  gap: 7px;
  color: #767070;
}
.links {
  display: flex;
}

.your {
  display: flex;
  justify-content: center;
}
.user{
  display: none;
}
.menu-btn{
  display: none;
}
.nds-btn2 {
  font-size: 30px;
 background: none;
 border: none;
 display: none;
}
.ri-arrow-right-s-line{
  display: none;
}
@media screen and (max-width: 450px){
  .header{
    /* display: none; */
    flex-direction: column;
    background: none;
    /* z-index: 999; */
    position: absolute;
    top:60%;
    font-size: 30px;
    
  }
  .main-header{
   /* display: none; */
    height: 100vh;
    width: 50%;
    z-index: 999;
  }
  .header-right .nav-li ul{
    margin-top: 100px;
    flex-direction: column-reverse;
    line-height: 60px;

  }
  .header-right .nav-li ul  li a{
    font-size:20px;
   
    border: none;
  }
  .logo-first{
   display: none;
  }
 
  .first-conent-center nav ul{
    /* display: none; */
    flex-direction: column;
    margin-top: 400px;
  }
  .first-conent-center nav ul li{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 25px;
  }
  .search-center input{
    display: none;
  }
  .search-center i{
    background: none;
  }
  .user{
    display: block;
  }
  .search-center i{
    /* display: block; */
    background: none;
    font-size: 20px;
  }
  .menu-btn{
    display: block;
    font-size: 25px;
  }
  .search-container{
   /* opacity: 0; */
   position: absolute;
   /* z-index: 0; */
   position: absolute;
   right: 10%;
  }
  .nds-btn,.nds-btn2,.user{
    font-size: 40px;
  }
  .ri-arrow-right-s-line{
    display: block;
  }
  .header-left {
    /* display: flex; */
    flex-direction: column;
  }
  .header-left svg {
    width: 50px;
    height:50px;
  }
}